@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
  
  --color-primary: #ffffff; /* Stark White */
  --color-primary-foreground: #000000;
  
  --color-secondary: #3f3f46; /* Zinc-700 */
  --color-secondary-foreground: #ffffff;
  
  --color-muted: #09090b; /* Zinc-950 */
  --color-muted-foreground: #a1a1aa; /* Zinc-400 */
  
  --color-accent: #27272a; /* Zinc-800 */
  --color-accent-foreground: #ffffff;
  
  --color-destructive: #ffffff; /* Monochrome Destructive */
  --color-destructive-foreground: #000000;
  
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
